<h1>Display your Pirate here</h1>
<p>Name: <%= @pirate %></p>
<p>Weight: <%= @pirate_weight %></p>
<p>Height: <%= @pirate_height %></p>


<h2>Display your first ship here</h2>
<p>Name: <%= @first_ship%></p>
<p>Ship Type: <%= @first_type %></p>
<p>Ship Booty: <%= @first_booty %></p>

<h2>Display your second ship here</h2>
<p>Name: <%= @second_ship%></p>
<p>Ship Type: <%= @second_type %></p>
<p>Ship Booty: <%= @second_booty %></p>